<!--
If you want to include any custom html just before </body>, put it in /layouts/partials/footer_custom.html
Do not put anything in this file - it's only here so that hugo won't throw an error if /layouts/partials/footer_custom.html doesn't exist.
-->

<!-- include trackers -->

<script data-goatcounter="https://pmoyaintheweb.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>

<script src="https://getinsights.io/static/js/insights.js"></script>
<script>
insights.init('CxzwlqghXFCYBh_E');
insights.trackPages();
</script>
