<!--
If you want to include any custom html just before </head>, put it in /layouts/partials/head_custom.html
Do not put anything in this file - it's only here so that hugo won't throw an error if /layouts/partials/head_custom.html doesn't exist.
-->


<!-- ToDo: review https://www.skcript.com/svr/perfect-seo-meta-tags-with-hugo/ -->

<title itemprop="name">{{ .Title }} | {{ .Site.Title }}</title>
<!-- <meta property="og:title" content="{{ .Title }} | {{ .Site.Title }}" /> -->
<!-- <meta name="twitter:title" content="{{ .Title }} | {{ .Site.Title }}" /> -->
<meta itemprop="name" content="{{ .Title }} | {{ .Site.Title }}" />
<meta name="application-name" content="{{ .Title }} | {{ .Site.Title }}" />
<meta property="og:site_name" content="{{ .Site.Title }}" />

<meta name="description" content="{{ .Site.Params.description }}" />
<meta itemprop="description" content="{{ .Site.Params.description }}" />
<meta property="og:description" content="{{ .Site.Params.description }}" />
<meta name="twitter:description" content="{{ .Site.Params.description }}" />

<meta name="robots" content="index,follow" />
<meta name="googlebot" content="index,follow" />

<link rel="sitemap" type="application/xml" title="Sitemap" href='{{ "sitemap.xml" | absURL }}' />

{{ with .OutputFormats.Get "RSS" }}
  <link href="{{ .Permalink }}" rel="alternate" type="application/rss+xml" title="{{ $.Site.Title }}" />
  <link href="{{ .Permalink }}" rel="feed" type="application/rss+xml" title="{{ $.Site.Title }}" />
{{ end }}

<!-- ToDo: review add all tags in any article (tag page) -->
<meta name="keywords" content="opensuse, boinc, covid-19, ibercivis, linux, ubuntu, guía, instalación, blog" />



  <!-- Yandex authentication site for search - https://webmaster.yandex.com/ -->
  <meta name="yandex-verification" content="4159b80265859ab0" />

  {{ range .AlternativeOutputFormats -}}
      {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{ end -}}
