{{ if or .Params.socialShare (and .Site.Params.socialShare (ne .Params.socialShare false)) }}
<!-- Social Share Button HTML -->
<div class="share-box" aria-hidden="true">
    <ul class="share">
      <!-- Twitter -->
      <li>
        <a href="//twitter.com/share?url={{ .Permalink }}&amp;text={{ .Title }}&amp;via={{ .Site.Author.twitter }}" target="_blank" title="Compartir en Twitter">
          <i class="fab fa-twitter"></i>
        </a>
      </li>

      <!-- Facebook -->
      <li>
        <a href="//www.facebook.com/sharer/sharer.php?u={{ .Permalink }}" target="_blank" title="Compartir en Facebook">
          <i class="fab fa-facebook"></i>
        </a>
      </li>

      <!-- Reddit -->
      <li>
        <a href="//reddit.com/submit?url={{ .Permalink }}&amp;title={{ .Title }}" target="_blank" title="Compartir en Reddit">
          <i class="fab fa-reddit"></i>
        </a>
      </li>

      <!-- LinkedIn -->
      <li>
        <a href="//www.linkedin.com/shareArticle?url={{ .Permalink }}&amp;title={{ .Title }}" target="_blank" title="Compartir en LinkedIn">
          <i class="fab fa-linkedin"></i>
        </a>
      </li>

      <!-- StumbleUpon
      <li>
        <a href="//www.stumbleupon.com/submit?url={{ .Permalink }}&amp;title={{ .Title }}" target="_blank" title="Compartir en StumbleUpon">
          <i class="fab fa-stumbleupon"></i>
        </a>
      </li>
      -->
      <!-- Pinterest
      <li>
        <a href="//www.pinterest.com/pin/create/button/?url={{ .Permalink }}&amp;description={{ .Title }}" target="_blank" title="Compartir en Pinterest">
          <i class="fab fa-pinterest"></i>
        </a>
      </li>
      -->
      <li>
        <a href="whatsapp://send?text={{ .Title }}%0a%0a{{ .Permalink }}" target="_blank" title="Compartir en WhatsApp">
          <i class="fab fa-whatsapp"></i>
        </a>
      </li>

      <li>
        <a href="//t.me/share/url?url={{ .Permalink }}&text={{ .Title }}" target="_blank" title="Compartir en Telegram">
          <i class="fab fa-telegram"></i>
        </a>
      </li>

      <li>
        <a href="//www.meneame.net/login?return=/submit?url={{ .Permalink }}&&title={{ .Title }}" target="_blank" title="Compartir en Menéame">
          <img src="/img/third_party/meneame.png" class="fab"></img>
        </a>
      </li>
    </ul>
  </div>
  {{ end }}
