{{ define "main" }}
  <div role="main" class="container">
    <div class="row">
      <div class="col-lg-9 col-lg-offset-0 col-md-10 col-md-offset-0">
        {{ with .Content }}
          <div class="well">
            {{.}}
          </div>
        {{ end }}

        <div class="posts-list">
          {{ $pag := .Paginate (where site.RegularPages "Type" "in" site.Params.mainSections) }}
          {{ range $pag.Pages }}
            {{ partial "post_preview" . }}
          {{ end }}
        </div>

        {{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
          <ul class="pager main-pager">
            {{ if .Paginator.HasPrev }}
              <li class="previous">
                <a href="{{ .Permalink }}page/{{ .Paginator.Prev.PageNumber }}/">&larr; {{ i18n "newerPosts" }}</a>
              </li>
            {{ end }}
            {{ if .Paginator.HasNext }}
              <li class="next">
                <a href="{{ .Permalink }}page/{{ .Paginator.Next.PageNumber }}/">{{ i18n "olderPosts" }} &rarr;</a>
              </li>
            {{ end }}
          </ul>
        {{ end }}
      </div>
<!--
      <div class="col-lg-3 col-lg-offset-0 col-md-10 col-md-offset-0">
        # TODO: ADD .MD FILE FROM CONTENT
        kasdjf kasdj fak jdka jdsñlk dsajfsalkd jf
      asdlkfj alkdsjflkdsaj flkasjd lkfjasdlkjfaslkdjf alkdsjflkdsaj
      sdjfklsadjfñlkdsjf
      sadflkjadslkjads lkfjasdlkjfaslkdjfasdf
      asdflkjañlkdsj fdsajsadjflkadsjf fdsajsadjflkadsjfdsasd
      lkfjasdlkjfaslkdjfasdfsadf
      asdfkjlñasdf
      asdkjfñasdlkjfasdjf

      asdfkjasdkfjasd
      asdfakldsjfadsf
      asdfkjlñasdfdsaf
      asdfkjlñasdf
      </div>
      -->
    </div>
  </div>
{{ end }}
